@media screen and (min-width: 0px){

	#player_div
	{
		width: 375px;
		display: inline-block;
		margin-bottom: 25px;
		vertical-align: top;
		
	}
	img
	{
		width: 200px;
		height: 300px;
	}
	.player_card_img
	{
		width: 200px;
		height: 300px;
	}
    
}

@media screen and (min-width: 481px){

	#player_div
	{
		width: 375px;
		display: inline-block;
		margin-bottom: 50px;
		vertical-align: top;
		
	}
	
	h1
	{
		font-size: 1.5em; 
		text-align: left;
		margin: 0;
		vertical-align: top;
	}

	.p1
	{
		text-align: center;
		margin-right: 3px;
		font-size: 1.25em;
		color: black;
		display: inline-block;
		
	}
	.p1:hover
	{
		text-align: center;
		margin-right: 3px;
		font-size: 1.25em;
		color: black;
		display: inline-block;
		
	}
	img
	{
		width: 100px;
		height: 150px;
	}
	.player_card_img
	{
		width: 100px;
		height: 150px;
	}
   
}

@media screen and (min-width: 1024px){

	#player_div
	{
		width: 375px;
		display: inline-block;
		margin-bottom: 50px;
		vertical-align: top;
		
	}
	
	h1
	{
		font-size: 1.5em; 
		text-align: left;
		margin: 0;
		vertical-align: top;
	}

	.p1
	{
		text-align: center;
		margin-right: 3px;
		font-size: 1.25em;
		color: black;
		display: inline-block;
		
	}
	.p1:hover
	{
		text-align: center;
		margin-right: 3px;
		font-size: 1.25em;
		color: black;
		display: inline-block;
		
	}
	img
	{
		width: 100px;
		height: 150px;
	}
	.player_card_img
	{
		width: 100px;
		height: 150px;
	}

   
}